.roof {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 50px solid #796d5d;
}

.floor {
    margin-bottom: 45px;
    width: 300px;
    height: 12px;
    background: #baae97;
}

.elevator {   
    display: inline; 
    position: absolute;
    left: 170px;
    width: 100px;
    height: 104px;
    background-image: url(elevator.jpg);
    background-size: cover;
    margin-top: -45px;
    transition: all 3s 1s;
}

.floor-2 {
    margin-top: -161px;
    transition: all 3s 1s;
}

.floor-3 {
    margin-top: -277px;
    transition: all 3s 1s;
}

.floor-4 {
    margin-top: -393px;
    transition: all 3s 1s;
}

.floor-5 {
    margin-top: -509px;
    transition: all 3s 1s;
}

button {
    background-color: #a6a7a5; 
    position: relative;
    padding: 5px 5px;
    margin-left: 95px;
    margin-bottom: 45px;
    border-radius: 20px;
}

* {
    font-size: 14pt;
    font-family: "Courier", "Arial";
}

#lamp-on {
    color: #000000;
}