.roof {
    width: 150px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #796d5d;
}

.walls {
    width: 330px;
    height: 552px;
    position: absolute;
    top: 60px;
    border: #baae97 10px solid;
}

.shaft {
    background: white;
    width: 100px;
    height: 552px;
    position: absolute;
    left: 220px;
    top: 67px;
    border: #baae97 3px solid;
}

.floor {
    margin-bottom: 70px;
    width: 350px;
    height: 12px;
    background: #baae97;
}

.elevator {   
    display: inline; 
    position: absolute;
    left: 223px;
    top: 493px;
    width: 100px;
    height: 129px;
    background-image: url(elevator.jpg);
    background-size: cover;
    transition: all 3s 1s;
}

.floor-2 {
    top: 353px;
    transition: all 3s 1s;
}

.floor-3 {
    top: 211px;
    transition: all 3s 1s;
}

.floor-4 {
    top: 70px;
    transition: all 3s 1s;
}

button {
    background-color: #a6a7a5;
    padding: 5px 5px;
    position: relative;
    margin-left: 175px;
    margin-bottom: 45px;
    border-radius: 20px;
}

.num {
    position: absolute;
    left: 120px;
    width: 40px;
    height: 60px;
    background-size: cover;
}

#first {
    top: 500px;
    background-image: url(1.jpg);
}

#second {
    top: 357px;
    background-image: url(2.jpg);
}

#third {
    top: 215px;
    background-image: url(3.jpg);
}

#fourth {
    top: 77px;
    background-image: url(4.jpg);
}

.plant {
    position: absolute;
    left: 20px;
    top: 119px;
    width: 80px;
    height: 80px;
    background-image: url(plant.png);
    background-size: cover;
}

.cat {
    position: absolute;
    left: 20px;
    top: 258px;
    width: 93px;
    height: 82px;
    background-image: url(cat.jpg);
    background-size: cover;
}

.clock {
    position: absolute;
    left: 50px;
    top: 510px;
    width: 50px;
    height: 50px;
    background-image: url(clock.png);
    background-size: cover;
}

.picture {
    position: absolute;
    left: 25px;
    top: 352px;
    width: 90px;
    height: 95px;
    background-image: url(picture.jpg);
    background-size: cover;
}

* {
    font-size: 14pt;
    font-family: "Courier", "Arial";
}

#log {
    position: absolute;
    margin-left: 500px;
    margin-top: -500px;
}